
#navbarPageContainer
{
    display = none;
}

#realtimePageContainer
{
    display = none;
}

#historyPageContainer
{
    display = none;
}

#loginPageContainer
{
    display = block;
}

.customPadding
{
    margin: 10px;
    padding-left: auto;
    padding-right: auto;
}